@model Sistema_Web_trivias_2.Models.Estadisticas

@{
    ViewBag.Title = "Alumno";
}

<div class="col-sm-1">
</div>
<div class="col-sm-10">

    <div class="col-sm-10">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-body">
                    Nombre Trivia 1
                    <div class="table-responsive">
                        <table class="table-condensed">
                            <thead>
                                <tr>
                                    <th>Nº</th>
                                    <th>Nombre Alumno</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <td>1</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#myModal2">   Alan Brito</a>
                                    </td>
                                </tr>
                                <tr class="even gradeC">
                                    <td>2</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#myModal2">   Soyla Tora</a>
                                    </td>

                                </tr>
                                <tr class="odd gradeA">
                                    <td>3</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#myModal2">   Camila Galvez</a>
                                    </td>

                                </tr>
                                <tr class="even gradeA">
                                    <td>4</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#myModal2">  Elvis Tec</a>
                                    </td>

                                </tr>
                                <tr class="odd gradeA">
                                    <td>5</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#myModal2">  Elba Zurita</a>
                                    </td>

                                </tr>
                                <tr class="even gradeA">
                                    <td>6</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#myModal2">  Elsa Pallo</a>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<div class="col-sm-1">

</div>

<div class="modal " id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">  ¿Calcule 56=x+3-+-2 ?</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-success">
                    <div class="panel-body">
                        Resumen
                        <div class="table-responsive">
                            <table class="table-condensed">
                                <thead>
                                    <tr>
                                        <th>Cantidad de Aciertos</th>
                                        <th>Cantidad de errores</th>
                                        <th>% aciertos VS errores</th>
                                        <th>Total Contestada</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>10</td>
                                        <td>2</td>
                                        <td>80</td>
                                        <td>12</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>6</td>
                                        <td>6</td>
                                        <td>60</td>
                                        <td>12</td>

                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>2</td>
                                        <td>8</td>
                                        <td>20</td>
                                        <td>10</td>

                                    </tr>
                                    <tr class="even gradeA">
                                        <td>1</td>
                                        <td>2</td>
                                        <td>30</td>
                                        <td>3</td>

                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>10</td>
                                        <td>2</td>
                                        <td>80</td>
                                        <td>12</td>

                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>2</td>
                                        <td>8</td>
                                        <td>20</td>
                                        <td>10</td>

                                    </tr>
                                    <tr class="odd gradeX">
                                        <td>10</td>
                                        <td>2</td>
                                        <td>80</td>
                                        <td>12</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>6</td>
                                        <td>6</td>
                                        <td>60</td>
                                        <td>12</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


